.fixed {
  position: fixed
}

.left-0 {
  left: 0px
}

.top-0 {
  top: 0px
}

.z-30 {
  z-index: 30
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-8 {
  margin-top: 2rem
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem
}

.size-52 {
  width: 13rem;
  height: 13rem
}

.h-11 {
  height: 2.75rem
}

.w-11 {
  width: 2.75rem
}

.w-96 {
  width: 24rem
}

.w-full {
  width: 100%
}

.w-72 {
  width: 18rem
}

.w-svw {
  width: 100svw
}

.w-auto {
  width: auto
}

.max-w-7xl {
  max-width: 80rem
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-10 {
  gap: 2.5rem
}

.gap-3 {
  gap: 0.75rem
}

.gap-4 {
  gap: 1rem
}

.gap-6 {
  gap: 1.5rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.border-b {
  border-bottom-width: 1px
}

.border-t {
  border-top-width: 1px
}

.border-textPrimary\/80 {
  border-color: rgb(30 41 59 / 0.8)
}

.border-white\/30 {
  border-color: rgb(255 255 255 / 0.3)
}

.bg-backgroundPrimary\/60 {
  background-color: rgb(235 203 144 / 0.6)
}

.bg-backgroundPrimary\/80 {
  background-color: rgb(235 203 144 / 0.8)
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(66 166 249 / var(--tw-bg-opacity, 1))
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops))
}

.from-textSecondary {
  --tw-gradient-from: #FFFCF5 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 252 245 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.to-backgroundSecondary {
  --tw-gradient-to: #FFF4DD var(--tw-gradient-to-position)
}

.p-2 {
  padding: 0.5rem
}

.p-6 {
  padding: 1.5rem
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.pb-10 {
  padding-bottom: 2.5rem
}

.pt-32 {
  padding-top: 8rem
}

.pt-28 {
  padding-top: 7rem
}

.pt-24 {
  padding-top: 6rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-\[18px\] {
  font-size: 18px
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.leading-relaxed {
  line-height: 1.625
}

.leading-tight {
  line-height: 1.25
}

.tracking-wide {
  letter-spacing: 0.025em
}

.text-textPrimary {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity, 1))
}

.text-textSecondary {
  --tw-text-opacity: 1;
  color: rgb(255 252 245 / var(--tw-text-opacity, 1))
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ring-4 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.ring-inset {
  --tw-ring-inset: inset
}

.ring-textPrimary {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(30 41 59 / var(--tw-ring-opacity, 1))
}

.drop-shadow-xl {
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-blur-lg {
  --tw-backdrop-blur: blur(16px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.backdrop-blur-xl {
  --tw-backdrop-blur: blur(24px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.\[box-shadow\:inset_0_0_0_4px_theme\(\'colors\.primary\'\)\] {
  box-shadow: inset 0 0 0 4px #42A6F9
}

.hover\:bg-textPrimary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity, 1))
}

.hover\:bg-textSecondary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 252 245 / var(--tw-bg-opacity, 1))
}

.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(66 166 249 / var(--tw-text-opacity, 1))
}

.hover\:text-textSecondary:hover {
  --tw-text-opacity: 1;
  color: rgb(255 252 245 / var(--tw-text-opacity, 1))
}

.hover\:ring-primary:hover {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(66 166 249 / var(--tw-ring-opacity, 1))
}

.hover\:\[box-shadow\:inset_0_0_0_4px_theme\(\'colors\.textPrimary\'\)\]:hover {
  box-shadow: inset 0 0 0 4px #1e293b
}

@media (min-width: 640px) {
  .sm\:pt-20 {
    padding-top: 5rem
  }

  .sm\:pt-28 {
    padding-top: 7rem
  }
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex
  }

  .md\:hidden {
    display: none
  }

  .md\:w-\[250px\] {
    width: 250px
  }

  .md\:w-\[350px\] {
    width: 350px
  }

  .md\:w-\[450px\] {
    width: 450px
  }

  .md\:w-\[400px\] {
    width: 400px
  }

  .md\:w-\[300px\] {
    width: 300px
  }

  .md\:w-\[500px\] {
    width: 500px
  }

  .md\:w-\[440px\] {
    width: 440px
  }

  .md\:w-60 {
    width: 15rem
  }

  .md\:w-96 {
    width: 24rem
  }

  .md\:w-auto {
    width: auto
  }

  .md\:w-\[450\] {
    width: 450
  }

  .md\:w-\[400\] {
    width: 400
  }

  .md\:w-\[500\] {
    width: 500
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .md\:gap-10 {
    gap: 2.5rem
  }

  .md\:pt-32 {
    padding-top: 8rem
  }

  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1
  }
}
